*{
    margin: 0;
    padding: 0;;
}
#Top{
    width: 100%;
    height: 102px;
    position: fixed;
    z-index: 2;
    transition: all 0.3s;
}
#Top01{
    width: 100%;
    /*position:relative;*/
    background: black;
    height: 28px;

}
.Top-in{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#Top01-left{
    line-height: 28px;
    position: relative;
    left: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
#Top01-left:hover{
    cursor: pointer;
}
.container01{
    width: 100%;
    height: 160px;
    background:white;
    display: none;
}
.container02{
    width: 100%;
    height: 315px;
    background:white;
    display: none;
}
.corporate{
    width: 73%;
    height: 100%;
    margin: 0 auto;
    background:white;
}
.cor-ul{
    list-style: none;
   padding: 40px 0;
}
.cor-ul li{
    width: 20%;
    position: relative;
    float: left;
    font-size: 14px;
    cursor: default;
}
.cor-ul h3{
    margin-bottom: 10px;
}
.cor-ul p{
    padding-right: 61px;
}
.sty{
    color: white;
}
.lih{
    color: red;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
}
.cor-ul li:hover .lih{
    margin-right: 20px;
}

.cor-ul i{
    color: red;
}
#Top01-right{
    line-height: 28px;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
.tr1{
    display: inline-block;
    padding: 0 5px;
    margin-right: 9px;
    border-right: 1px solid white;
}
.pa{
    padding-right: 5px;
}
.tr2{
    display: inline-block;
}
.tr1:hover ,.tr2:hover{
    text-decoration-line:underline;
    cursor:pointer;
}
.add{
padding: 16px 0;
}
.add li{
    line-height: 45px;
    font-weight: 400;
}
.container02 span{
    cursor: pointer;
    text-decoration: underline;
}
.Top-in02{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#Top02{
    width: 100%;
    height: 74px;
    background: white;
}
.Top02-img{
    display: inline-block;
}
.Top02-img img{
    width: 130px;
    height: 30px;
    margin: 21px 40px 20px 0;
    vertical-align: middle;
}
.Top02-ul , .T02-ul{
    display: inline-block;
    vertical-align: middle;
}
.T02-ul{
    margin-right: 90px;
}
.T02-ul li{
    list-style: none;
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 12px;
}
.T02-ul li:hover span{
    color: red;
}
.Top02-ul span{
    display: inline-block;
    height: 60px;
    line-height: 60px;
}
.phone{
    width:33px;
    height: 35px;
}
.Top02-ul img ,.Top02-ul span ,.Top02-ul i{
    vertical-align: middle;
}
.Top02-ser{
    display: inline-block;
}
.Top02-ser img:last-child{
    width: 35px;
}
.Top02-ser img:first-child{
    width: 50px;
    border-left: 2px solid grey;
    padding-left: 10px;
    display: none;
}
.container03 ,.container04{
    width: 100%;

    position: fixed;
    left: 0px;
    background:#f5f5f5;
    display: none;
    z-index: 2;
}
.container03-left {
    width: 72%;
    height: 100%;
    background: #f5f5f5;
    float: left;
    padding: 50px 0 50px 160px;
}
.container03-right{
    width: 28%;
    height: 100%;
    background:#ebebeb;
    float: left;
    padding: 50px 160px 181px 20px;
}

@media screen and (max-width: 1200px) {
   #Top01{
       display: none;
   }
    .Top-in02{
        width: 100%;
        background: gainsboro;
    }
    .Top02-img{
        float: left;
    }
    .Top02-ul{
        display: none;
    }
    .Top02-ser{
        margin-top: 20px;
        float: right;
    }
    .Top02-ser img{
        display: inline-block;
        float: right;
    }
    .Top02-ser img:first-child{
        display: inline-block;
    }
}


/*主体*/
.banner{
    padding-top: 103px;
    transition: all 1s;
}
.car-all{
    width: 100%;
    /*height: 620px;*/
}
.car{
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
}

.car>div>img{
    border-radius: 10px;
}
.carousel-inner{
    height: 620px;
}
.item img{
    width: 100%;
    height: 620px;
}
.container03-first{
    width: 32%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.container03-first img{
    border-radius: 5px;
}

.container03-liaojie{
    width: 120px;
    height: 28px;
    background: red;
    color:white;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 5px;
    position: relative;
    left: 140px;
    top: -28px;
}
em , .container03-second div:hover p{
    color: red;
}
.second-last:hover , .container03-right li:hover , .container03-right div:hover{
    text-decoration:underline;
}
.container03-second{
    width: 65%;
    height: 100%;
    display: inline-block;
}

.col-img{
    width: 80px;
}
.fx{
    width: 16px;
    margin-left: 6px;
    display: none;
}
.container03-second div:hover .fx, .container03-right li:hover .fx ,.container03-right div:hover .fx{
    display: inline-block;
}
.container03-right li{
    list-style: none;
}

.container03-right div{
    position: relative;
    top: 132px;
}
#mytab{
    width:100%;
    text-align: center;
    border-bottom: 3px solid grey;
    padding-top: 50px;
}
#mytab div{
    display: inline-block;
    font-size: 22px;
    margin-left: 66px;
}
#mytab div:hover{
    border-bottom: 3px solid red;
}
.qiye{
    background: gainsboro;
}
.yun{
    background: #f0ad4e;
    display: none;
}
.fuwu{
    background: greenyellow;
    display: none;
}
.con04{
    margin-bottom: 13px;
}
.C04-img{
    width: 16px;
    display: none;
}
.con04-img li:active .C04-img{
    display: inline-block;
}

.two{
    height: 183px;
}
.third{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background:white;
    padding: 36px;
    border-radius: 6px;
    box-shadow: -30px 0px 96px #8080805c;
    position: relative;
    top: -100px;
}
/*未来影像*/
.weilai{
    width: 100%;
    height: 880px;
}
.wei-con{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.wei-left{
    width: 100%;
    height: 470px;
    background:#00bcd4;
    position: relative;
    left: -70px;
}
.wei-img{
    margin-top: 100px;
    margin-left: 150px;
}
.wei-img >img{
    width: 270px;
    cursor: pointer;
}
.wei-img p{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.wei-img div{
    color: white;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 70px;
    cursor: pointer;
}
.wei-img small{
    color: white;
    cursor: pointer;
}
.cc{
    width: 40px;
    margin-left: 10px;
}
.wei-img:hover .cc,.cc02:hover .cc,.hero-img02>div:hover .cc{
    margin-left: 20px;
}

.wei-shouji img{
    position: relative;
    top: 70px;
    left: -295px;
}
.wei-shouji:hover .wei-s1{
    top:60px;
}
.wei-shouji:hover .wei-s2{
    top: 80px;
}
.wei-right{
    padding: 0;
    background: #dde6ed;
}
.card >div>img{
    width: 100%;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.yulin div:first-child{
    font-size: 18px;
    cursor: pointer;
    color: #626161;
}
.yulin{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 400px;
}
.yulin h1{
    font-weight: 600;
    margin-bottom: 23px;
    cursor: pointer;
}
.yulin p {
    font-size: 22px;
    line-height: 35px;
    cursor: pointer;
}
.cc02 {
    font-size: 22px;
    position: relative;
    top: 170px;
    cursor: pointer;
}

/*--------*/
.hero-all{
    width: 100%;
    height:558px;
    margin-bottom: 130px;
}
.hero{
    width: 90%;
    height: 558px;
    margin: 0 auto;
    overflow: hidden;
}
.hero-in{
    width: 1900px;
    height: 100%;
}
.hero-img01{
    width: 1520px;
    height: 100%;
    display: inline-block;
}
.hero-img01 img{
    width:100%;
    height: 100%;
}
.hero-img02 {
    width: 370px;
    height: 100%;
    display: inline-block;
    position: relative;
    left: -580px;
    top: 100px;
    vertical-align: top;
    padding: 10px;
}
.hero-img02>div{
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}
/*会展活动*/
.zhanhui{
    width: 100%;
    padding-bottom: 120px;
}
.same-in{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}
.same-first{
    margin-bottom: 60px;
}
.same-first h2{
    width: 65%;
    display: inline-block;
    font-weight: bold;
    font-size:38px ;
}
.same-first span{
    font-size: 22px;
    color: #222222;
    line-height: 62px;
    position: relative;
    left: 260px;
    cursor: pointer;
}
.arrow{
    width: 20px;
    margin-left: 10px;
    margin-right: 40px;
}
.same-first span:hover  .arrow{
    margin-left: 20px;
}
.zhanhui-second{
    width: 100%;
    height: 526px;
}
.zhanhui01-main{
    background: #dce6ee;
    margin: 80px -15px 20px 20px;
    padding: 60px 60px 60px 100px;
}
.zhanhui01-1{
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0;
}
.zhanhui01-2  h3{
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 0;
    margin-top: 0;
}
.zhanhui01-2 span ,.zhanhui01-2 p{
    font-size: 20px;
    line-height: 35px;

}
.zhanhui01-main>span{
    margin-top: 40px;
    display: block;
    font-size: 22px;
    line-height: 34px;
    cursor: pointer;
}
.zhanhui01-main>span:hover .cc{
    margin-left: 20px;
}
.zhanhui02 img{
    width: 580px;
    height: 570px;
    margin-left: -15px;
    border-radius: 10px;
}
/*成功故事*/
.chenggong{
    width: 100%;
    height: 595px;
    margin-bottom: 60px;
}
/*.chenggong-second{*/
    /*width: 100%;*/
    /*height:450px;*/
    /*background: wheat;*/
/*}*/
.cheng-main{
    width: 340px;
    /*height: 350px;*/
    margin: 0 auto;
    background:#dde6ed;
    border-radius: 5px;
}
.cheng-main>div>img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cheng-content{
    height: 263px;
    padding: 30px 40px 60px;
    background: #dde6ed;
}
.name{
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0;
}
.cheng-content h3,.xinwen-main h3{
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    margin-top: 5px;
    margin-bottom: 0;
}
.first{
    font-size: 22px;
    color: black;
    position: relative;
    bottom: -35px;
}
.second , .thirdd{
    font-size: 22px;
    color: black;
    position: relative;
    bottom: -70px;
}
.first:hover .cc , .second:hover .cc, .thirdd:hover .cc{
    margin-left: 20px;
}
.cheng-main:hover .ctop{
    position: relative;
    left: -20px;
}
/*近期新闻*/
.xinwen{
    width: 100%;
    height: 700px;
    margin-bottom: 130px;
}
.xinwen-in,.xinwen-img{
    width: 100%;
}
.xinwen-img img{
    width: 100%;
}
.xinwen-main{
    padding: 30px 40px;
    height: 266px;
    background: #dde6ed;
}
.xinwen-right{
    margin-left: 8%;
}
.xinwen-ul{
    list-style: none;
    margin: 0;
    padding-right: 16.666%;
}
.xinwen-ul li:first-child{
    padding-top: 0;
}
.xinwen-ul li{
    padding-top: 80px;
}
.introduction{
    color: #282828;
    font-size: 21px;
    line-height: 30px;
}
.footer{
    width: 100%;
    padding-top: 60px;
    background: #f0f0f0;
}
.footer-first{
    width: 78%;
    margin: 0 auto;

}
.footer-ul{
    list-style: none;
}
.footer-first h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-ul li{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-img{
    list-style: none;
    margin-top: 10px;
}
.footer-img li{
    line-height: 50px;
}
.footer-img img{
    width: 30px;
}
.footer-yiewu h3{
    margin-left: 15px;
}
.footer-yiewu>div{
    height: 73px;
}
.footer-yiewu>div>div{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-second{
    width: 100%;
    height: 40px;
    color: white;
    line-height: 40px;
    margin-top: 60px;
    background: black;
}
.footer-last{
    width: 78%;
    margin: 0 auto;
}
.footer-last div:last-child{
    padding-left: 40%;
}



.hidadd{
    width: 100%;
    background: white;
    position: relative;
    top: -145px;
    box-shadow: -30px 0px 96px #8080805c;
}
.hidadd div{
    font-size: 18px;
    line-height: 50px;
    background:white;
    padding-left: 15px;
    border-bottom: 1px solid gainsboro;
}


.hid{
    width: 100%;
    margin-top: 50px;
    display: none;

    /*background: gainsboro;*/
}
.hid01{
    width: 100%;
    padding: 35px;
    height: 600px;
    background:#00bcd4;
}
.hid-shouji{
    position: relative;
    top:-80px;
}
.hid-yinying{
    position: relative;
    left: -24%;
    top: 220px;
}
.hid-sm{
    position: relative;
    bottom:50px;
}
.hid02{
    width:100%;
    /*height: 500px;*/
    margin-top: 50px;
    margin-bottom: 50px;
}
.hid02-01 img{
    width: 100%;
    height: 520px;
}
.hid02-02{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background: #607d8b2e;
    text-align: center;
}
.hid02-02 div{
    font-size: 20px;
}
.hid02-02 h3{
    font-weight: bold;
}
.hid02-02 p{
    font-size: 18px;
    line-height: 30px;
}
.hid03{
    width: 100%;
    height: 210px;
    padding: 20px;
    margin-bottom: 60px;
}
.hid04{
    width: 100%;
    margin-bottom: 80px;
}
.hid04 img{
    width: 100%;
    height: 500px;
}
.hid-same h2{
    font-weight: bold;
    font-size: 29px;
    margin-left: 20px;
}
.hid-same img{
    width: 25px;
}
.hid05-main{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    background: lightsteelblue;
}
.hid05-01 img{
    width: 500px;
    height:400px;
    position: relative;
    top:-100px;
}
.hid05-02{
    padding: 40px;
    position: relative;
    top:-70px;
    height: 400px;
}
.hid05-02 div{
    font-size: 20px;
    margin-bottom: 30px;
}
.hid05-02 p{
    font-size: 25px;
    line-height: 30px;
}
.hid06-main{
    width: 100%;
    padding: 20px;
}
.hid06-01{
    width: 100%;
    height: 180px;
    margin-bottom: 60px;
    background:#dde6ed;
}
.hid06-first{
    width: 580px;
    padding: 10px;
    display: inline-block;
}
.hid06-second{
    vertical-align: top;
    display: inline-block;
}
.sa{
    color: gray;
    font-size: 18px;
}
.hid07{
    width: 100%;
}
.hid07-main{
    width: 100%;
    margin-top: 40px;
}
.hid07-01 img{
    width: 100%;
}
.hid07-02{
    padding: 20px;
    text-align: center;
    background: #dde6ed;
}
.hid07-02 p{
    font-size: 19px;
    line-height: 35px;
}
/*.hid08{*/
    /*height: 600px;*/
    /*background: greenyellow;*/
/*}*/
.hid08-01{
    padding: 20px;
    margin: 20px 0;
}
.sa01{
    font-size: 14px;
    color: #9d9d9d;
}
.sa02{
    font-size: 18px;
    line-height: 30px;
    color: black;
}
.hid09{

   background:  #607d8b2e;
}
.hid09-01 img{
    width: 30px;
    margin:  20px;
}
.hid09-01 div{
    width: 45%;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
}

@media screen and (max-width: 1200px){
    .wei-left{
        width: 100%;
        display: block;
    }
    .sshow{
        display: none;
    }
    .hid{
        display: block;
    }
}