*{
    margin: 0;
    padding: 0;;
}
#Top{
    width: 100%;
    height: 102px;
    position: fixed;
    z-index: 2;
    transition: all 0.3s;
}
#Top01{
    width: 100%;
    /*position:relative;*/
    background: black;
    height: 28px;

}
#Top01-in{
    width: 73%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#Top01-left{
    line-height: 28px;
    position: relative;
    left: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
#Top01-left:hover{
    cursor: pointer;
}
.container01{
    width: 100%;
    height: 160px;
    background:white;
    display: none;
}
.container02{
    width: 100%;
    height: 315px;
    background:white;
    display: none;
}
.corporate{
    width: 73%;
    height: 100%;
    margin: 0 auto;
    background:white;
}
.cor-ul{
    list-style: none;
   padding: 40px 0;
}
.cor-ul li{
    width: 20%;
    position: relative;
    float: left;
    font-size: 14px;
    cursor: default;
}
.cor-ul h3{
    margin-bottom: 10px;
}
.cor-ul p{
    padding-right: 61px;
}
.sty{
    color: white;
}
.lih{
    color: red;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
}
.cor-ul li:hover .lih{
    margin-right: 20px;
}

.cor-ul i{
    color: red;
}
#Top01-right{
    line-height: 28px;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
.add{
padding: 16px 0;
}
.add li{
    line-height: 45px;
    font-weight: 400;
}
.container02 span{
    cursor: pointer;
    text-decoration: underline;
}
.Timg{
    width: 16px;
    height: 16px;
    /*padding-top: 5px;*/
}
.tr1{
    display: inline-block;
    padding: 0 5px;
    margin-right: 9px;
    border-right: 1px solid white;
}
.pa{
    padding-right: 5px;
}
.tr2{
    display: inline-block;
}
.tr1:hover ,.tr2:hover{
    text-decoration-line:underline;
    cursor:pointer;
}
@media screen and (max-width: 990px) {
    #Top01{
    background:red;
}
}
#Top02{

    width: 100%;
    height: 74px;
    background: gold;
    /*position: relative;*/
}