*{
    margin: 0;
    padding: 0;;
}
body{
    height:1200px;
}
#Top{
    width: 100%;
    height: 102px;
    position: fixed;
    z-index: 2;
    transition: all 0.3s;
}
#Top01{
    width: 100%;
    /*position:relative;*/
    background: black;
    height: 28px;

}
.Top-in{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#Top01-left{
    line-height: 28px;
    position: relative;
    left: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
#Top01-left:hover{
    cursor: pointer;
}
.container01{
    width: 100%;
    height: 160px;
    background:white;
    display: none;
}
.container02{
    width: 100%;
    height: 315px;
    background:white;
    display: none;
}
.corporate{
    width: 73%;
    height: 100%;
    margin: 0 auto;
    background:white;
}
.cor-ul{
    list-style: none;
   padding: 40px 0;
}
.cor-ul li{
    width: 20%;
    position: relative;
    float: left;
    font-size: 14px;
    cursor: default;
}
.cor-ul h3{
    margin-bottom: 10px;
}
.cor-ul p{
    padding-right: 61px;
}
.sty{
    color: white;
}
.lih{
    color: red;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
}
.cor-ul li:hover .lih{
    margin-right: 20px;
}

.cor-ul i{
    color: red;
}
#Top01-right{
    line-height: 28px;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: white;
    display: inline-block;
}
.add{
padding: 16px 0;
}
.add li{
    line-height: 45px;
    font-weight: 400;
}
.container02 span{
    cursor: pointer;
    text-decoration: underline;
}
.Top-in02{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.Top02-img{
    display: inline-block;
}
.Top02-img img{
    width: 130px;
    height: 30px;
    margin: 21px 40px 20px 0;
    vertical-align: middle;
}
.Top02-ul ,.Top02-ul ul{
    display: inline-block;
    vertical-align: middle;
}
.Top02-ul ul{
    border-right: 1.5px solid #cfcfd8;
    margin-right: 40px;
}
.Top02-ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    cursor: pointer;
}
.Top02-ul li:hover {
    color: red;
}

.phone{
    width:33px;
    height: 35px;
}
.Top02-ul img ,.Top02-ul span ,.Top02-ul i{
    vertical-align: middle;
}
.Top02-ser{
    display: inline-block;
}
.container03 ,.container04{
    width: 100%;
    height: 315px;
    position: fixed;
    left: 0px;
    background:greenyellow;
    display: none;
}


.tr1{
    display: inline-block;
    padding: 0 5px;
    margin-right: 9px;
    border-right: 1px solid white;
}
.pa{
    padding-right: 5px;
}
.tr2{
    display: inline-block;
}
.tr1:hover ,.tr2:hover{
    text-decoration-line:underline;
    cursor:pointer;
}
/*@media screen and (max-width: 1205px) {*/
    /*.corporate,.Top-in{*/
    /*width: 80%;*/
/*}*/
/*}*/
/*@media screen and (max-width: 1530px){*/
    /*.Top02-ul li{*/
    /*margin-right: 50px;*/
    /*}*/
    /*.Top02-ser{*/
        /*margin-right: 23px;*/
    /*}*/

/*}*/
/*@media screen and (max-width: 1510px){*/
    /*.Top02-ul li{*/
        /*margin-right:40px;*/
    /*}*/
    /*.Top02-ser{*/
        /*margin-left: 15px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1420px){*/
    /*.Top02-ul li{*/
        /*margin-right:6px;*/
    /*}*/
    /*.Top02-ser{*/
        /*margin-left: -1px;*/
    /*}*/
/*}*/
#Top02{

    width: 100%;
    height: 74px;
    background: gold;
}
.car{
    width: 90%;
    height: 650px;
    background:goldenrod;
    margin: 0px auto;
}